spring:
  application:
    name: spring-boot

  datasource:
    url: jdbc:h2:mem:logsdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: log-analyser
    password:

  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true
    hibernate:
      ddl-auto: update   # preserves schema during container run
    show-sql: false

  h2:
    console:
      enabled: true
      path: /h2-console   # URL to access console
      settings:
        web-allow-others: true

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
